<h1>Log de Actividades</h1>

<div class="filter-form d-flex">
 <div class="form-control">
   <label for="sel-babies">Bebés</label>
   <select name="sel-babies" id="sel-babies">
   </select>
 </div> 
 <div class="form-control">
   <label for="sel-assistants">Assistentes</label>
   <select name="sel-assitants" id="sel-assistants">
   </select>
 </div> 
 <div class="form-control">
   <label for="sel-status">Estatus</label>
   <select name="sel-status" id="sel-status">
   </select>
 </div> 
 <div class="form-control">
   <button type="submit">Filtrar</button>   
 </div>
</div>
<div class="activity-list">
  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
  
</div>
